# Application Properties - Sensitive Data
**/application.properties
**/application-local.properties
**/application-dev.properties
**/application-secret.properties
**/application*.properties
!**/application-example.properties